%h2 About
%h3 
  Hublator is an application created to help people translating documents in the web.
.nc
  .inner
    %h4
      hublator was created by 
      %a{:href => 'http://r09.railsrumble.com/teams/ninjacrowd'} NinjaCrowd Team at #RailsRumble09
    %img{:src => '/images/commons/nerd.png'}
    
