<h1>Sessions#new</h1>
<h1>Login</h1>
<%= flash[:notice] %> 
<%- form_tag sessions_path do -%>
    <p>We promise not to log or store your password in any way. It will be used only to authenticate with Google.</p>
    <ul>
        <li>
            <label for="username">Google Username</label>
            <%= text_field_tag 'username' %>
        </li>
        <li>
            <label for="password">Google Password</label>
            <%= password_field_tag 'password' %>
        </li>
        <li class="submit">
            <%= submit_tag 'Login' %>
        </li>
    </ul>
<%- end -%>
