/* line 9, ../../../app/stylesheets/application.sass */
body {
  background: #f3f3f3;
  margin: auto;
  color: #666666;
  font-family: "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif !important; }

/* line 15, ../../../app/stylesheets/application.sass */
a {
  color: #007ac3;
  text-decoration: none; }
  /* line 18, ../../../app/stylesheets/application.sass */
  a:visited {
    color: #007ac3; }
  /* line 20, ../../../app/stylesheets/application.sass */
  a:hover {
    color: #007ac3;
    text-decoration: underline; }

/* line 24, ../../../app/stylesheets/application.sass */
h1 {
  color: #666666; }

/* line 27, ../../../app/stylesheets/application.sass */
h2 {
  color: #007ac3; }

/* line 29, ../../../app/stylesheets/application.sass */
div.container.border {
  border: 1px solid #d5d5d5;
  margin: auto;
  marging-right: auto;
  padding-right: 0px; }

/* line 35, ../../../app/stylesheets/application.sass */
div.inner {
  display: block;
  padding: 20px; }

/* line 39, ../../../app/stylesheets/application.sass */
div.header-container {
  background: url(/images/top.png) bottom repeat-x;
  display: block;
  position: relative;
  height: 110px;
  overflow: hidden; }

/* line 46, ../../../app/stylesheets/application.sass */
div#header {
  display: block;
  height: 110px;
  position: relative; }
  /* line 51, ../../../app/stylesheets/application.sass */
  div#header div#top_track {
    padding-top: 5px;
    display: block;
    position: relative; }
    /* line 56, ../../../app/stylesheets/application.sass */
    div#header div#top_track a {
      padding: 3px 0px;
      display: block; }
  /* line 60, ../../../app/stylesheets/application.sass */
  div#header h1 {
    color: #333333;
    position: absolute;
    top: 30px;
    font-size: 2.5em; }

/* line 68, ../../../app/stylesheets/application.sass */
ul.tabs.main-nav {
  display: block;
  position: absolute;
  border-bottom: none;
  bottom: 0px;
  margin-bottom: 0px; }
  /* line 74, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav li {
    border: none; }
    /* line 76, ../../../app/stylesheets/application.sass */
    ul.tabs.main-nav li a {
      background: #909090;
      color: #fff;
      border: none;
      padding: 4px 15px; }
      /* line 82, ../../../app/stylesheets/application.sass */
      ul.tabs.main-nav li a.selected {
        background: #007ac3;
        color: white; }
        /* line 85, ../../../app/stylesheets/application.sass */
        ul.tabs.main-nav li a.selected:hover {
          color: white; }
      /* line 87, ../../../app/stylesheets/application.sass */
      ul.tabs.main-nav li a:hover {
        color: #333333; }
  /* line 89, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav.left {
    left: 0px; }
  /* line 91, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav.right {
    right: 0px; }

/* line 97, ../../../app/stylesheets/application.sass */
div.middle-container {
  margin: auto auto 10px auto;
  background: #007ac3;
  color: white;
  padding: 10px 0px 0px 0px;
  position: relative; }
  /* line 104, ../../../app/stylesheets/application.sass */
  div.middle-container ul.tabs.subnav {
    border: none;
    margin-bottom: 0px; }
    /* line 108, ../../../app/stylesheets/application.sass */
    div.middle-container ul.tabs.subnav li {
      border: none;
      color: white; }
      /* line 112, ../../../app/stylesheets/application.sass */
      div.middle-container ul.tabs.subnav li a {
        border: none;
        background: #007ac3;
        font-weight: normal;
        padding: 3px 15px 10px 15px; }
        /* line 118, ../../../app/stylesheets/application.sass */
        div.middle-container ul.tabs.subnav li a:hover {
          color: white; }
        /* line 121, ../../../app/stylesheets/application.sass */
        div.middle-container ul.tabs.subnav li a.selected {
          border: none;
          background: url(/images/subnav_arrow.png) bottom  no-repeat; }

/* line 125, ../../../app/stylesheets/application.sass */
div#main {
  background: #fff; }

/* line 131, ../../../app/stylesheets/application.sass */
span.label, .mini-button, a.mini-button {
  padding: 2px 10px;
  background: url(/images/gradients.png) top repeat-x;
  color: #333333;
  font-weight: bold;
  font-size: 0.8em; }
  /* line 138, ../../../app/stylesheets/application.sass */
  span.label:hover, .mini-button:hover, a.mini-button:hover {
    text-decoration: none;
    color: #007ac3; }

/* line 143, ../../../app/stylesheets/application.sass */
.mini-button {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666; }

/* line 150, ../../../app/stylesheets/application.sass */
span.label.red, .mini-button.red {
  background-position: 0px -30px;
  color: #fff; }

/* line 154, ../../../app/stylesheets/application.sass */
.mini-button.red {
  border-top: 1px solid #d00;
  border-left: 1px solid #d00;
  border-right: 1px solid #400;
  border-bottom: 1px solid #400; }
  /* line 160, ../../../app/stylesheets/application.sass */
  .mini-button.red:hover {
    color: black; }

/* line 163, ../../../app/stylesheets/application.sass */
span.label.yellow, .mini-button.yellow {
  background-position: 0px -60px; }

/* line 166, ../../../app/stylesheets/application.sass */
.mini-button.yellow {
  border-top: 1px solid #ffdd00;
  border-left: 1px solid #ffdd00;
  border-right: 1px solid #cc8000;
  border-bottom: 1px solid #cc8000; }

/* line 172, ../../../app/stylesheets/application.sass */
span.label.green, .mini-button.green {
  background-position: 0px -90px;
  color: #fff; }
  /* line 176, ../../../app/stylesheets/application.sass */
  span.label.green:hover, .mini-button.green:hover {
    color: black; }

/* line 179, ../../../app/stylesheets/application.sass */
.mini-button.green {
  border-top: 1px solid #0e0;
  border-left: 1px solid #0e0;
  border-right: 1px solid #040;
  border-bottom: 1px solid #040; }

/* line 185, ../../../app/stylesheets/application.sass */
span.label.black, .mini-button.black {
  background-position: 0px -120px;
  color: #fff; }

/* line 189, ../../../app/stylesheets/application.sass */
.mini-button.black {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000; }

/* line 197, ../../../app/stylesheets/application.sass */
form.search_form {
  width: 160px;
  padding: 0px;
  margin: 0px;
  float: right; }
  /* line 203, ../../../app/stylesheets/application.sass */
  form.search_form input.text {
    width: 135px;
    border: 1px solid #a0a0a0;
    padding: 3px 3px 3px 20px;
    background: white url(/images/search.png) no-repeat;
    display: inline;
    font-size: .9em;
    margin: 0px auto;
    color: #666666; }
