/* line 7, ../../../app/stylesheets/application.sass */
body {
  background: #f3f3f3;
  margin: auto;
  color: #666666; }

/* line 14, ../../../app/stylesheets/application.sass */
a {
  color: #007ac3;
  text-decoration: none; }
  /* line 17, ../../../app/stylesheets/application.sass */
  a:visited {
    color: #007ac3; }
  /* line 19, ../../../app/stylesheets/application.sass */
  a:hover {
    color: #007ac3;
    text-decoration: underline; }

/* line 23, ../../../app/stylesheets/application.sass */
h1 {
  color: #666666; }

/* line 26, ../../../app/stylesheets/application.sass */
h2 {
  color: #007ac3; }

/* line 29, ../../../app/stylesheets/application.sass */
div.inner {
  display: block;
  padding: 20px; }

/* line 33, ../../../app/stylesheets/application.sass */
div.header-container {
  background: url(/images/top.png) bottom repeat-x;
  display: block;
  position: relative;
  height: 110px;
  overflow: hidden; }

/* line 40, ../../../app/stylesheets/application.sass */
div#header {
  display: block;
  height: 110px;
  position: relative; }
  /* line 45, ../../../app/stylesheets/application.sass */
  div#header div#top_track {
    margin-top: 5px;
    display: block;
    position: relative; }
    /* line 50, ../../../app/stylesheets/application.sass */
    div#header div#top_track .item {
      margin-right: 5px;
      margin-left: 0px; }
  /* line 54, ../../../app/stylesheets/application.sass */
  div#header .right {
    text-align: right; }
    /* line 57, ../../../app/stylesheets/application.sass */
    div#header .right .item {
      margin-left: 5px;
      margin-right: 0px; }
  /* line 62, ../../../app/stylesheets/application.sass */
  div#header h1 {
    color: #333333;
    position: absolute;
    top: 30px;
    font-size: 2.5em; }

/* line 70, ../../../app/stylesheets/application.sass */
ul.tabs.main-nav {
  display: block;
  position: absolute;
  border-bottom: none;
  bottom: 0px;
  margin-bottom: 0px; }
  /* line 76, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav li {
    border: none; }
    /* line 78, ../../../app/stylesheets/application.sass */
    ul.tabs.main-nav li a {
      background: #909090;
      color: #fff;
      border: none;
      padding: 4px 15px; }
      /* line 84, ../../../app/stylesheets/application.sass */
      ul.tabs.main-nav li a.selected {
        background: #f3f3f3;
        color: #007ac3;
        border-top: 2px solid #fff;
        border-left: 2px solid #ffffff;
        border-right: 2px solid #d5d5d5; }
      /* line 90, ../../../app/stylesheets/application.sass */
      ul.tabs.main-nav li a:hover {
        color: #333333; }
  /* line 92, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav.left {
    left: 0px; }
  /* line 94, ../../../app/stylesheets/application.sass */
  ul.tabs.main-nav.right {
    right: 0px; }

/* line 100, ../../../app/stylesheets/application.sass */
div.middle-container {
  margin: 10px auto; }

/* line 103, ../../../app/stylesheets/application.sass */
div#main {
  background: #fff; }

/* line 109, ../../../app/stylesheets/application.sass */
span.label, .mini-button, a.mini-button {
  padding: 2px 10px;
  background: url(/images/gradients.png) top repeat-x;
  color: #333333;
  font-weight: bold;
  font-size: 0.8em; }
  /* line 116, ../../../app/stylesheets/application.sass */
  span.label:hover, .mini-button:hover, a.mini-button:hover {
    text-decoration: none;
    color: #007ac3; }

/* line 121, ../../../app/stylesheets/application.sass */
.mini-button {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666; }

/* line 128, ../../../app/stylesheets/application.sass */
span.label.red, .mini-button.red {
  background-position: 0px -30px;
  color: #fff; }

/* line 132, ../../../app/stylesheets/application.sass */
.mini-button.red {
  border-top: 1px solid #d00;
  border-left: 1px solid #d00;
  border-right: 1px solid #400;
  border-bottom: 1px solid #400; }
  /* line 138, ../../../app/stylesheets/application.sass */
  .mini-button.red:hover {
    color: black; }

/* line 141, ../../../app/stylesheets/application.sass */
span.label.yellow, .mini-button.yellow {
  background-position: 0px -60px; }

/* line 144, ../../../app/stylesheets/application.sass */
.mini-button.yellow {
  border-top: 1px solid #ffdd00;
  border-left: 1px solid #ffdd00;
  border-right: 1px solid #cc8000;
  border-bottom: 1px solid #cc8000; }

/* line 150, ../../../app/stylesheets/application.sass */
span.label.green, .mini-button.green {
  background-position: 0px -90px;
  color: #fff; }
  /* line 154, ../../../app/stylesheets/application.sass */
  span.label.green:hover, .mini-button.green:hover {
    color: black; }

/* line 157, ../../../app/stylesheets/application.sass */
.mini-button.green {
  border-top: 1px solid #0e0;
  border-left: 1px solid #0e0;
  border-right: 1px solid #040;
  border-bottom: 1px solid #040; }

/* line 163, ../../../app/stylesheets/application.sass */
span.label.black, .mini-button.black {
  background-position: 0px -120px;
  color: #fff; }

/* line 167, ../../../app/stylesheets/application.sass */
.mini-button.black {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000; }
