/* line 77, ../../../app/stylesheets/application.sass */
div.home-header-container {
  background: url(/images/home/home_top_bg.png) top repeat-x;
  display: block;
  position: relative;
  height: 135px;
  overflow: hidden; }

/* line 84, ../../../app/stylesheets/application.sass */
div#header {
  background: url(/images/home/logo.png) no-repeat;
  display: block;
  height: 135px;
  position: relative;
}

  /* line 89, ../../../app/stylesheets/application.sass */
  div#login{
    background: url(/images/home/home_login.png) top right no-repeat;
    height:42px;
    padding-top: 5px;
    display: block;
    position: relative; }

div.push_down { height:20px; }
div.blackboard {
  background: url(/images/home/home_blackboard.png) top left no-repeat;
  display: block;
  position: relative;
  height: 325px;
  overflow: hidden; 
  margin: 10px 0 10px 0;
}

