/* line 2, ../../../app/stylesheets/home.sass */
div.home-header-container {
  background: url(/images/home/home_top_bg.png) top repeat-x;
  display: block;
  position: relative;
  height: 135px;
  overflow: hidden; }

/* line 9, ../../../app/stylesheets/home.sass */
div#header {
  background: url(/images/home/logo.png) no-repeat;
  display: block;
  height: 135px;
  position: relative; }
  /* line 15, ../../../app/stylesheets/home.sass */
  div#header div#login {
    background: url(/images/home/home_login.png) top right no-repeat;
    padding-top: 5px; }


/* line 23, ../../../app/stylesheets/home.sass */
div.blackboard {
  background: url(/images/home/home_blackboard.png) top left no-repeat;
  display: block;
  position: relative;
  height: 325px;
  overflow: hidden;
  margin: 10px 0 10px 0; }
