<h1>Sieves#new</h1>
<p>Find me in app/views/sieves/new.html.erb</p>
<% form_for(@sieve) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit "Create", :id => 'create' %>
<% end %>
