!blue = #007ac3
!light_gray = #f3f3f3
!medium_gray = #666666
!dark_gray = #333333
!black = #000000
!white = #ffffff
body
  background = !light_gray
  margin: auto
  color = !medium_gray

//generic tags

a
  color = !blue
  text-decoration: none
  &:visited
    color = !blue
  &:hover
    color = !blue
    text-decoration: underline

h1
  color = !medium_gray

h2
  color = !blue
div.container.border
  border = 1px solid #d5d5d5
  margin: auto
  marging-right: auto
  padding-right: 0px

div.inner
  display: block
  padding: 20px

div.header-container
  background: url(/images/top.png) bottom repeat-x
  display: block
  position: relative
  height: 110px
  overflow: hidden

div#header
  display: block
  height: 110px
  position: relative

  div#top_track
    margin-top: 5px
    display: block
    position: relative

    .item
      margin-right: 5px
      margin-left: 0px

  .right
    text-align: right

    .item
      margin-left: 5px
      margin-right: 0px


  h1
    color = !dark_gray
    position: absolute
    top: 30px
    font-size: 2.5em

//main-nav

ul.tabs.main-nav
  display: block
  position: absolute
  border-bottom: none
  bottom: 0px
  margin-bottom: 0px
  li
    border: none
    a
      background: #909090
      color: #fff
      border: none
      padding: 4px 15px

      &.selected
        background = !blue
        color = !white
        &:hover
          color = !white
      &:hover
        color = !dark_gray
  &.left
    left: 0px
  &.right
    right: 0px


//middle -> subnav

div.middle-container
  margin: auto auto 10px auto
  background = !blue
  color = !white
  padding: 10px 0px 0px 0px
  position: relative

  ul.tabs.subnav
    border: none
    margin-bottom: 0px

    li
      border: none
      color = !white

      a
        border: none
        background = !blue
        font-weight: normal
        padding: 3px 15px 10px 15px

        &:hover
          color = !white

        &.selected
          border: none
          background: url(/images/subnav_arrow.png) bottom  no-repeat

div#main
  background: #fff


// mini buttons

span.label, .mini-button, a.mini-button
  padding: 2px 10px
  background: url(/images/gradients.png) top repeat-x
  color = !dark_gray
  font-weight: bold
  font-size: 0.8em

  &:hover
    text-decoration: none
    color = !blue


.mini-button
  border-top: 1px solid #ddd
  border-left: 1px solid #ddd
  border-right: 1px solid #666
  border-bottom: 1px solid #666


span.label.red, .mini-button.red
  background-position: 0px -30px
  color: #fff

.mini-button.red
  border-top: 1px solid #d00
  border-left: 1px solid #d00
  border-right: 1px solid #400
  border-bottom: 1px solid #400

  &:hover
    color = !black

span.label.yellow, .mini-button.yellow
  background-position: 0px -60px

.mini-button.yellow
  border-top: 1px solid #ffdd00
  border-left: 1px solid #ffdd00
  border-right: 1px solid #cc8000
  border-bottom: 1px solid #cc8000

span.label.green, .mini-button.green
  background-position: 0px -90px
  color: #fff

  &:hover
    color = !black

.mini-button.green
  border-top: 1px solid #0e0
  border-left: 1px solid #0e0
  border-right: 1px solid #040
  border-bottom: 1px solid #040

span.label.black, .mini-button.black
  background-position: 0px -120px
  color: #fff

.mini-button.black
  border-top: 1px solid #666
  border-left: 1px solid #666
  border-right: 1px solid #000
  border-bottom: 1px solid #000


