!blue = #007ac3
!light_blue = #e4f4ff
!light_gray = #f3f3f3
!medium_gray = #a0a0a0
!medium_light_gray = #d5d5d5
!medium_dark_gray = #666666
!dark_gray = #333333
!black = #000000
!white = #ffffff

=borders(!color1, !color2)
  border-top= 1px solid !color1
  border-left= 1px solid !color1
  border-right= 1px solid !color2
  border-bottom= 1px solid !color2


body
  background = !light_gray
  margin: auto
  color = !medium_dark_gray
  font-family: "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif !important
//generic tags
a
  color = !blue
  text-decoration: none
  &:visited
    color = !blue
  &:hover
    color = !blue
    text-decoration: underline

h1, h3
  color = !medium_dark_gray

h2
  color = !blue

div.container.border
  border = 1px solid !medium_light_gray
  margin: auto
  marging-right: auto
  padding-right: 0px

div.inner
  display: block
  padding: 20px
  overflow: hidden

div.align-right
  text-align: right
// set the border position for column

div.right-toolbox a
  font-weight: bold
  font-size: 1.2em

a.big-button-to-new
  background: url(/images/big_button_to_new.png) 0px 0px no-repeat
  padding: 6px 10px 6px 40px
  display: block
  color = !dark_gray
  +borders(!medium_light_gray, !medium_gray)

  &:hover
    text-decoration: none
    background-position: left bottom
    +borders(!medium_gray, !medium_gray)

.columns-17-7
  background-image: url(/images/border.png)
  background-repeat: repeat-y
  background-position: 670px 0px
  overflow: hidden


div.header-container
  background: url(/images/top.png) bottom repeat-x
  display: block
  position: relative
  height: 110px
  overflow: hidden

div#header
  display: block
  height: 110px
  position: relative

  div#top_track
    padding-top: 5px
    display: block
    position: relative

    a
      padding: 3px 0px
      display: block

  h1
    color = !dark_gray
    position: absolute
    top: 30px
    font-size: 2.5em

//main-nav

ul.tabs.main-nav
  display: block
  position: absolute
  border-bottom: none
  bottom: 0px
  margin-bottom: 0px
  li
    border: none
    a
      background: #909090
      color: #fff
      border: none
      padding: 4px 15px

      &.selected
        background = !blue
        color = !white
        &:hover
          color = !white
      &:hover
        color = !dark_gray
  &.left
    left: 0px
  &.right
    right: 0px


//middle -> subnav

div.middle-container
  margin: auto auto 10px auto
  background = !blue
  color = !white
  padding: 10px 0px 0px 0px
  position: relative

  ul.tabs.subnav
    border: none
    margin-bottom: 0px

    li
      border: none
      color = !white

      a
        border: none
        background = !blue
        font-weight: normal
        padding: 3px 15px 10px 15px

        &:hover
          color = !white

        &.selected
          border: none
          background: url(/images/subnav_arrow.png) bottom  no-repeat



div#main
  background: #fff
  div.context-tools
    display: block
    overflow: hidden
    padding: 0px 20px
    background = !light_blue url(/images/border.png) bottom repeat-x

    form.search_form
      margin-top: 2px

      input
        border= 1px solid !medium_light_gray


    ul.context-nav
      border: none
      margin: auto

      li
        background: none
        border: none

        a 
          background: none
          border: none
          font-weight: normal
          padding: 5px 15px
          color = !blue

          &.selected
            background= !white
            border: none
            color = !medium_dark_gray
            border-left: 1px solid #d5d5d5
            border-right: 1px solid #d5d5d5

// mini buttons

span.label, .mini-button, a.mini-button
  padding: 2px 10px
  background: url(/images/gradients.png) top repeat-x
  color = !dark_gray
  font-weight: bold
  font-size: 0.8em

  &:hover
    text-decoration: none
    color = !blue


.mini-button
  +borders(#ddd, #666)


span.label.red, .mini-button.red
  background-position: 0px -30px
  color: #fff

.mini-button.red
  border-top: 1px solid #d00
  border-left: 1px solid #d00
  border-right: 1px solid #400
  border-bottom: 1px solid #400

  &:hover
    color = !black

span.label.yellow, .mini-button.yellow
  background-position: 0px -60px

.mini-button.yellow
  border-top: 1px solid #ffdd00
  border-left: 1px solid #ffdd00
  border-right: 1px solid #cc8000
  border-bottom: 1px solid #cc8000

span.label.green, .mini-button.green
  background-position: 0px -90px
  color: #fff

  &:hover
    color = !black

.mini-button.green
  border-top: 1px solid #0e0
  border-left: 1px solid #0e0
  border-right: 1px solid #040
  border-bottom: 1px solid #040

span.label.black, .mini-button.black
  background-position: 0px -120px
  color: #fff

.mini-button.black
  border-top: 1px solid #666
  border-left: 1px solid #666
  border-right: 1px solid #000
  border-bottom: 1px solid #000

// forms

form.search_form
  width: 160px
  padding: 0px
  margin: 0px
  float: right

  input.text
    width: 135px
    border= 1px solid !medium_gray
    padding: 3px 3px 3px 20px
    background= !white url(/images/search.png) no-repeat
    display: inline
    font-size: .9em
    margin: 0px auto
    color = !medium_dark_gray


// pagination

.pagination
  span, a
    padding: 3px 5px
    border: 1px solid #ddd
    color = !dark_gray
    background: url(/images/gradients.png) top repeat-x
  a
    +borders(#ddd, #666)

  .current
    background = !blue
    color = !white
    border = 1px solid !blue

  .disabled
    background = !medium_light_gray
    border = 1px solid !medium_light_gray

