<h1>Listing spells</h1>

<table>
  <tr>
  </tr>

<% for spell in @spells %>
  <tr>
    <td><%= spell.name %></td>
    <td><%= link_to 'Edit', edit_backstage_spell_path(spell) %></td>
    <td><%= link_to 'Destroy', backstage_spell_path(spell), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New spell', new_backstage_spell_path %>
