- content_tag_for :div, asset do
  %ul
    %li
      %strong Name:
      =h asset.name
    = link_to 'Show', [@post, asset]
    = link_to 'Edit', edit_post_asset_path(@post, asset)
    = link_to 'Destroy', [@post, asset], :confirm => 'Are you sure?', :method => :delete
